<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sagorika.calconify">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/calconify_icon"
        android:label="@string/app_name"
        android:resizeableActivity="false"
        android:roundIcon="@mipmap/calconify_icon_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".BaseActivity" android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".BmiActivity" android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait"/>
        <activity android:name=".TempActivity" android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait"/>
        <activity android:name=".CurrencyActivity" android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait"/>
        <activity android:name=".SpeedActivity" android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait"/>
        <activity android:name=".WeightActivity" android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".LengthActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ConvActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".CalcActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait" />
    </application>

</manifest>